# do not commit the saved trained models into the repo
*.pt
# do not commit the training reports
*.json
# do not commit the checkpoint performance overviews
*.md
# do not commit the checkpoint performance overviews
*.npy
